App {
  text-align: center;
}
.img {
  margin-top: 20px;
  width: 130px;
  height: 130px;
}
.header {
  margin-block-start: 60px;
  width: 500px;
  height: 500px;
  background-color: rgba(27, 25, 182, 0.589);
  border-radius: 8px;
  text-align: center;
  margin: 80px auto;
}
.btn {
  width: 100px;
  height: 80px;
  font-size: 0.5rem;
  background-color: rgba(23, 207, 152, 0.575);
}
.btn:hover {
  background-color: rgb(115, 24, 199);
}